<!DOCTYPE html>
<html>
  <head>
    <title>BigQuery Example</title>
    <style type="text/css">
      body {
        font-family: Arial;
      }
      a {
        cursor: pointer;
        color: #0000FF;
        text-decoration: underline;
      }
    </style>
    <script
        type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script type="text/javascript" src="js/script.js"></script>
  </head>
  <body>
    <h1>
      BigQuery Example
    </h1>
    <p>
      Sample application to demonstrate
      <a href="http://code.google.com/apis/bigquery/">Google's BigQuery</a>.
    </p>
    <div id="queries"></div>
    <p id="results"></p>
  </body>
</html>
